body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    color: #846d64;
}

.buttons-container {
    background-color: #dde3e1;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    margin-bottom: 20px;
}

.button-section {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 15px;
    border-radius: 5px;
    width: 80%;
    margin: 20px auto; /* 上下边距相同 */
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 添加阴影 */
}

h2 {
    color: #846d64; /* 统一标题颜色 */
    margin-bottom: 15px;
}

.file-uploader {
    display: flex;
    align-items: center;
}

.file-input {
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 5px; /* 添加圆角 */
}

.upload-btn {
    background-color: #8ec390;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* 添加过渡效果 */
}

.upload-btn:hover {
    background-color: #7db081; /* 悬停颜色 */
}

.file-list {
    list-style-type: none;
    padding-left: 0; /* 移除左边距 */
    color: #333;
    width: 250px;
}

.imfilename{
    padding: 10px;
    width: 200px;
}

.file-name {
    flex-grow:0.2; /* 文件名占据所有可用空间 */
}


.file-item {
    display: flex; /* 使用Flexbox来布局 */
    align-items: center; /* 垂直居中对齐 */
    margin-bottom: 10px; /* 每个文件项之间的间距 */
    transition: background-color 0.3s; /* 平滑过渡效果 */
    cursor: pointer;
}

.file-item:hover {
    background-color: #cdd8d4; /* 鼠标悬停时的背景颜色 */
}


.file-content-text {
    display: none;
    color: #333; /* 文本颜色 */
}

.file-label:hover {
    cursor: pointer;
}

.btn-container {
    display: flex; /* 使用Flexbox来布局按钮 */
}

.imbtn {
    background: none;
    border: none;
    color: #333; /* 你可以更改为适合你设计的颜色 */
    cursor: pointer;
    font-size: 20px; /* 调整图标大小 */
}

.imbtn:hover {
    background: none;
    color: #ffffff; /* 鼠标悬停时的颜色 */
}

button{
    color: #418541;
    margin-left: 10px;
    background-color: #eeeeee;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover, .clicked{
    background-color: #739175;
    color: #FFF;
    
}

.div-funcbtns{
    margin-left: 80px;
    float: left;
    padding: 10px;
}

.div-checkbtns{
    margin-left: 500px;
    float: left;
    padding: 10px;
}

.buttons{
    padding: 10px;
    background-color: #a9958d;
    color: #f9f9f9;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.buttons:hover{
    cursor: pointer;
    background-color: #777575;
}




/*loader*/
body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}
.modal {
    justify-content: center; 
    align-items: center;
    display: none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    color: 		#000000;
    text-align:	center;
    background: rgba( 255, 255, 255, .8 );          
}

.preloader{
    border: 1px solid #555;
    padding: 10px;
    border-radius: 10px;
    width: 350px;
    background-color: #FFF;
}

.preloader > div {
    height: 10px;
    width: 10px;
    display: inline-block;
    animation: stretchdelay 0.9s infinite ease-in-out;
    color: #739175;
    font-weight: bold;
}

@keyframes stretchdelay {
    0%, 40%, 100% { 
         transform: translateY(0px);
    }
    20% {
         transform: translateY(-10px);
    }
 }

 .preloader .circ1 {
    animation-delay: 0;
  }
  
  .preloader .circ2 {
    animation-delay: 0.1s;
  }
  
  .preloader .circ3 {
    animation-delay: 0.2s;
  }
  
  .preloader .circ4 {
    animation-delay: 0.3s;
  }

  .preloader .circ5 {
    animation-delay: 0;
  }
  
  .preloader .circ6 {
    animation-delay: 0.1s;
  }
  
  .preloader .circ7 {
    animation-delay: 0.2s;
  }
  
  .preloader .circ8 {
    animation-delay: 0.3s;
  }
  .preloader .circ9 {
    animation-delay: 0;
  }
  
  .preloader .circ10 {
    animation-delay: 0.1s;
  }
  
  .preloader .circ11 {
    animation-delay: 0.2s;
  }
  
  .preloader .circ12 {
    animation-delay: 0.3s;
  }
  .preloader .circ13 {
    animation-delay: 0;
  }
  
  .preloader .circ14 {
    animation-delay: 0.1s;
  }
  
  .preloader .circ15 {
    animation-delay: 0.2s;
  }
  
  .preloader .circ16 {
    animation-delay: 0.3s;
  }

  .preloader .circ17 {
    animation-delay: 0.2s;
  }
  
  .preloader .circ18 {
    animation-delay: 0.3s;
  }



.introjs-tooltip {
  background-color: #3a3a3a; /* 背景顏色 */
  border-color: #fff; /* 邊框顏色 */
}


.introjs-tooltip {
    color: #fff; /* 文字顏色 */
}


.introjs-button {
    background-color: #008CBA; /* 背景顏色 */
    color: #fff; /* 文字顏色 */
    border: none; /* 移除邊框 */
    padding: 10px 20px; /* 內間距 */
    border-radius: 5px; /* 圓角 */
}


.introjs-progressbar {
    background-color: #008CBA; /* 背景顏色 */
}