<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/checklist_page2.css') }}">
    <title>台北富邦銀行-Paralegal</title> 
</head>
<body>
    <header>
        <h1>Paralegal</h1>
    </header>

    <div class="buttons-container">
        <n style="color: rgb(55, 118, 244);">preview result</n>
        <div><hr></div>
        <div>
            <table class="question-table">
                <tr>
                    <td style="width: 40%;">
                        <p>題目分類</p>
                        {% for category in categories %}
                            <p>{{ category[0] }}、{{ category[1] }}</p>
                        {% endfor %}
                    </td>
                    <td style="text-align: center;">
                        <p>檢查題數/總題數</p>
                        {% for category in categories %}
                            <p>
                                <n>{{ checked_questions[category[0]] }}</n>
                                /
                                <n>{{ total_questions[category[0]] }}</n>
                            </p>
                        {% endfor %}
                    </td>
                    <td style="text-align: center;">
                        <p>未符合</p>
                        {% for category in categories %}
                            {% set category_key = category[0] ~ '、' ~ category[1] %}
                            <p>
                                <n id="{{ 'unmet_' ~ category[0] }}">
                                    {{ dic_Obj.get(category_key, {'否': 0, '不適用': 0}).否 }}
                                </n>
                            </p>
                        {% endfor %}
                    </td>
                    <td style="text-align: center;">
                        <p>不適用</p>
                        {% for category in categories %}
                            {% set category_key = category[0] ~ '、' ~ category[1] %}
                            <p>
                                <n id="{{ 'notApplicable_' ~ category[0] }}">
                                    {{ dic_Obj.get(category_key, {'否': 0, '不適用': 0}).不適用 }}
                                </n>
                            </p>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div style="text-align: end; margin-top: 20px;">
            <button type="button" id="detail_btn">查看細節</button>
        </div>
        
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='checklist_page2.js') }}"></script>
    
</body>
</html>