<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/checklist_detail.css') }}">
    <title>台北富邦銀行-Paralegal</title>
</head>
<body>
    <header>
        <h1>Paralegal</h1>
    </header>
    <div style="display: flex; justify-content: center; align-items: flex-start;">
        <div id="div1" style="margin-right: 20px; margin-top: 15px; width: 600px; height:auto; background-color: white; border: 1px solid gray; padding: 10px; border-radius: 10px; flex-wrap: nowrap;">
            <div>
                <div class="action-bar" style="display: flex;">
                    <div id="filename">檔名.txt</div>
                    <div class="action-buttons">
                        <a href="#" id="showall_btn">顯示全部</a>
                        <a href="#" id="change_btn">生成報告</a>
                    </div>
                </div>
            </div>
            <hr>
            <div id="filecontent"></div>
        </div>
        <div id="container">
        </div>
        
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='checklist_detail.js') }}"></script>
    
</body>
</html>